/* GERAL */

* {
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

/* BANNER */

.banner {
    background: url(../img/background.jpg) center no-repeat;
    background-size: cover;
    height: 50vw;
    padding-top: 20rem;
    color: 46231B;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-titulo{
    font-size: 1.5rem;
}

.banner-subtitulo{
    font-size: 1rem;
}

/* LINK */

.link{
    text-transform: uppercase;
    padding: 0.9%;
    font-size: 1.5rem;
    font-weight: bold;
}

.link-vermelho{
    text-decoration: nome;
    color: rgb(138, 77, 77);
}

/* Informações Sobre */

.container-sobre {
    max-width:  100vw;
    margin: 0 auto;
}

.sobre-titulo {
    text-align: center;
    font-size: 2.3rem;
    color: #c4c4c4;
}

.container-sobre-informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
